.modal{
  position: fixed; top: 60px; left: 0; right: 0; bottom: 0; z-index: 300; font-size: 16px; font-weight: 400; letter-spacing: -.8px; line-height: 1.87; color: #fff; word-break: keep-all;
  .modal_inner {
    position: absolute; top: 50%; left: 50%; width: 100%; max-width: 810px; height: auto; padding: 40px; text-align: left; background: rgba(0, 0, 0, 0.8); border-radius: 5px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
  }
}

.modal_bg{position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 110; width: 100%; height: 100%; background: #000; opacity: .5; z-index: -1;}
