// div{position: absolute; top: 60px; left: 0; width: 100%;}
// span {font-size: 18px;}

body{width: 100%; height: 100%; overflow: hidden;}

.hall{width: 100%; height: 100%;}

.vr-player{
  position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;
  #vr-player{
    width: 100%; height: 100%; border: 0;
  }
}

span {font-size: 18px;}